<?xml version="1.0" ?>
<robot name="ev3_manipulator_stage_sync" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find ev3_manipulator_stage_sync)/urdf/manipulator_materials.xacro" />
    <xacro:include filename="$(find ev3_manipulator_stage_sync)/urdf/manipulator_control.xacro" />
    <xacro:include filename="$(find ev3_manipulator_stage_sync)/urdf/manipulator_gazebo.xacro" />
    <xacro:include filename="$(find ev3_manipulator_stage_sync)/urdf/manipulator_urdf.xacro" />

</robot>