<?xml version="1.0" ?>
<robot name="ev3_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<xacro:property name="body_color" value="Gazebo/Silver" />

  <gazebo reference="base_link">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="arm_1_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_arm_linkage_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="arm_2_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="arm_2_connector_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="arm_3_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_finger_inner_link_1">
    <material>${body_color}</material>
    <self_collide>true</self_collide>
    <collision name="left_finger_inner_link_1_collision"> <surface>
        <friction>
          <ode>
            <mu>0.1</mu>
            <mu2>0.1</mu2>
            <slip1>0.05</slip1>
            <slip2>0.05</slip2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="left_gear_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_finger_outer_link_1">
    <material>${body_color}</material>
    <self_collide>true</self_collide>
    <collision name="left_finger_outer_link_1_collision"> <surface>
        <friction>
          <ode>
            <mu>0.1</mu>
            <mu2>0.1</mu2>
            <slip1>0.05</slip1>
            <slip2>0.05</slip2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="right_finger_outer_link_1">
    <material>${body_color}</material>
    <self_collide>true</self_collide>
    <collision name="right_finger_outer_link_1_collision">
      <surface>
        <friction>
          <ode>
            <mu>0.1</mu>
            <mu2>0.1</mu2>
            <slip1>0.05</slip1>
            <slip2>0.05</slip2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="right_gear_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_finger_inner_link_1">
   <material>${body_color}</material>
    <self_collide>true</self_collide>
    <collision name="right_finger_inner_link_1_collision">
      <surface>
        <friction>
          <ode>
            <mu>0.1</mu>
            <mu2>0.1</mu2>
            <slip1>0.05</slip1>
            <slip2>0.05</slip2>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="right_pulley_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_motor_shaft_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_pulley_link1_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_pulley_shaft_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="conveyor_base_linkage_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="bench_stand_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="sensor_housing_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="conveyor_belt_link_1">
    <material>${body_color}</material>
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="conveyor_linkage_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="base_motor_housing_linkage_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="motor_housing_link_1">
    <material>${body_color}</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>false</self_collide>
  </gazebo>

  <!-- <gazebo>
    <plugin filename="libROS2ConveyorBeltPlugin.so" name="ros2_conveyorbelt_plugin">
      <ros>
          <namespace></namespace>
      </ros>
      <max_velocity>0.5</max_velocity> <publish_rate>10</publish_rate>
    </plugin>
  </gazebo> -->

  <gazebo>
    <plugin filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find ev3_manipulator)/config/controller.yaml</parameters>
      <position_proportional_gain>20.0</position_proportional_gain>
    </plugin>
  </gazebo>


</robot>
